.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.accordion {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  border: 1px solid #ccc;
  border-spacing: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.5s cubic-bezier(0,1,0,1);
  background: rgb(255, 255, 177);
  overflow:auto;
}

.accordion.expanded {
  background-color: lightgoldenrodyellow;
  border-color: #2e2f30;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-top: 8px;
  /* background-color: lightgoldenrodyellow; */
}

.accordion:hover,
.accordion:focus {
  background-color: #f0f0f0;
  border-color: #2e2f30;
}

.accordion-content {
  text-align: start;
  padding-left: 20px;
  width: 900px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion.expanded .accordion-content {
  height: auto;
  max-height: 1000px; /* Adjust this value to allow content to expand */
}

.accordion-title {
  margin: 0;
}

.accordion-line {
  margin-top: 10px;
  width : 95%;
  height: 1px;
  margin: 0;
  opacity: 0;       /* Initial opacity is set to hide the <hr> tag */
  background-color: darkgoldenrod;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.accordion-line.visible {
  opacity: 1;       /* Set opacity to 1 when expanded */
}

.accordion-arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
  border-style: solid;
  border-color: rgb(199, 196, 196);
  border-radius: 5px;
  border-width: 0.5px;
  margin-right: 10px;
}

.accordion-arrow.up{
  transform: rotate(180deg);
}

.accordion-arrow:hover,
.accordion-arrow:focus{
  border-color: #2e2f30;
}

.span{
  font-size: larger;
}

.checkbox-container {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 20%;
}

.checkbox-label {
  padding-left: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.checkbox-label.checked {
  color: #5a5a5a;
}

.checkbox-label:hover {
  color: #888ae9; /* Change color on hover */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-switcher {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.content-switcher-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 2px; /* Rounded corners */
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically align items */
  justify-content: space-between;
}

.content-switcher-button:hover {
  background-color: #0056b3;
}

.content-switcher-button.active {
  background-color: #0056b3;
}

.content-switcher-button.selected {
  background-color: #0056b3;
  position: relative;
}

.tick-icon {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.custom-dropdown {
  display: inline-block;
}

.dropdown-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown-select:focus {
  outline: none;
  border-color: #007bff;
}

.dropdown-select:hover{
  background-color: rgb(192, 192, 192);
  border-color: #007bff;
}


.dropdown-select::-ms-expand {
  display: none;
}

.error {
  border-color: red;
}

.error-message {
  margin: 5px 0;
  color: red;
  font-size: 12px;
}